.timeline{
    padding: 0 3rem;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}

.timeline select{
    padding: 10px;
    height: 3rem;
    border: 1px solid green;
    border-radius: 10px;
    color: green;
}


@media screen and (max-width: 900px) {
    .timeline{
        margin-top: 0.5rem;
        padding: 1rem;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .timeline{
        margin-left: 4rem;
    }
}
