.uppernav{
    width: 100%;
    margin-top: 10px;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.right{
    display: flex;
    gap: 1rem;
}


@media screen and (max-width:900px) {
    .uppernav{
        padding: 0 0.5rem;
        justify-content: space-between;
    }

    .left{
        gap: 0.5rem;
    }

    .right{
        gap: 0.4rem;
    }
}


@media screen and (max-width:600px) {
    .right{
       margin-right: -4rem;
    }
}