*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
}


.chartSection{
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.combineChart{
  margin-top: 3rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 80%
}

.doughnutSection{
  margin-top: 2rem;
  padding: 1 3rem !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.doughnut{
  width: 45%;
  height: 60%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.mytable{
  height: 60%;
  overflow: scroll;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.timeline{
  padding: 0 3rem;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.timeline select{
  padding: 10px;
  height: 3rem;
  border: 1px solid green;
  border-radius: 10px;
  color: green;
}








@media screen and (max-width: 900px) {

  .chartSection{
    width: 70vw;
  }
  .combineChart{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .doughnutSection{
    margin-top: 1rem;
    flex-direction: column;
    gap: 2rem !important;
    padding: 0 2rem !important;
  }

  .doughnut{
    width: 100%;
    height: 40%;
  }

  .mytable{
    margin-top: -3rem;
    height: 40%;
    width: 100%;
  }

  .timeline{
    margin-top: 0.5rem;
    padding: 1rem;
    justify-content: center;
}
}


@media screen and (max-width: 600px) {
  .timeline{
    margin-left: 4rem;
}
}

