*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
}


.chartSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.combineChart{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 80%
}

.doughnutSection{
  padding: 1 3rem !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.doughnut{
  width: 45%;
  height: 60%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.mytable{
  height: 60%;
  overflow: scroll;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



@media screen and (max-width: 800px) {
  .combineChart{
    width: 100%;
  }

  .doughnutSection{
    flex-direction: column;
    gap: 2rem !important;
  }

  .doughnut{
    margin-top: 2rem !important;
    width: 80%;
  }

  .mytable{
    margin-top: 2rem !important;
  }
}